.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 540px;
}

.item {
  width: 100px;
  margin: auto;
}

.extruder {
  position: fixed;
  top: 74px;
  left: 64px;
}

.stamper {
  position: fixed;
  top: 64px;
  left: 128px;
}

.oven {
  position: fixed;
  top: 72px;
  left: 236px;
}

.belt {
  position: fixed;
  top: 172px;
  left: 64px;
}

.motor {
  position: fixed;
  top: 192px;
  left: 64px;
  /* border: 3px solid #73ad21; */
}

.switch {
  position: fixed;
  top: 192px;
  left: 192px;
}

.production {
  position: fixed;
  top: 164px;
  left: 87px;
}

.oven-temp {
  position: fixed;
  top: 72px;
  left: 284px;
}

machine {
  position: relative;
}
